*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

body {
  margin: 0 auto;
  width: 320px;
  background: #edf2f5;

  font-family: "Montserrat", sans-serif;
}

.page {
  margin: 0 auto;
  width: 276px;
  height: 600px;
}

/* 1 headerSection  */

.headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 276px;
  height: 64px;
}

.logo {
  width: 75px;
  height: 26px;
}

.logoImg {
  width: 102px;

  position: relative;
  top: -26px;
  left: -15px;
}

.contact {
  width: 137px;
  height: 54px;

  text-align: center;
}

.time {
  font-size: 7px;
}

.tel {
  margin: 6px 0 6px 0;
  font-size: 14px;
}

.call {
  font-size: 10px;
  color: #12c868;
  text-decoration: underline dotted #12c868;
}

.bullWhite {
  color: #12c868;
}

.mob-menu {
  width: 20px;
}

.material-symbols-outlined {
  font-size: 20px;
  cursor: pointer;
}

.buttonMenu > a,
.buttonClose > a {
  text-decoration: none;
  color: #1c1c1c;
}

.buttonMenu,
.buttonClose {
  background: none;
}

.headerNav {
  display: flex;
  flex-direction: column;
  align-items: center;

  list-style-type: none;
  text-transform: uppercase;
  font-size: 10px;
}

/* 2 headerNav */

.headerNav li {
  margin: 10px;
}

.headerNav li a {
  text-decoration: none;
  color: #1c1c1c;
}

/* 3 headerSection2 */

.headerSection2 {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 15px;
}

.headText p {
  margin: 5px 28px 5px 28px;
  text-align: center;
  line-height: 13.5px;
  font-size: 8.5px;
}

span {
  font-weight: 600;
}

.downloadCat {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 60px;
}

.iconPdf {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.iconPdf > a {
  font-size: 10px;
  text-decoration: none;
  color: #12c868;
  font-weight: 600;
}

.downloadCat > p {
  margin-left: 10px;
  font-size: 10px;
  text-decoration: underline dotted #12c868;
}

.bull {
  color: #12c868;
}

.message {
  width: 200px;
  height: 60px;
  text-align: center;
  font-size: 10px;
}

.messengers {
  display: flex;
  justify-content: center;
}

.messengers > div {
  margin: 7.5px;
}

.messengers > div > a > img {
  width: 35px;
}

.mob-menu {
  display: none;
}

/* .page,
.mob-menu,
.contact,
.headerSection,
.headText,
.downloadCat,
.logo,
.message {
  border: 1px solid red;
} */
