*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

body {
  margin: 0 auto;
  width: 640px;
  background: #edf2f5;

  font-family: "Montserrat", sans-serif;
}

.page {
  margin: 0 auto;
  width: 552px;
  height: 1200px;
}

/* 1 headerSection  */

.headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 552px;
  height: 128px;
}

.logo {
  width: 150px;
  height: 52px;
}

.logoImg {
  width: 204px;

  position: relative;
  top: -52px;
  left: -30px;
}

.contact {
  width: 274px;
  height: 108px;

  text-align: center;
}

.time {
  font-size: 14px;
}

.tel {
  margin: 12px 0 12px 0;
  font-size: 28px;
}

.call {
  font-size: 20px;
  color: #12c868;
  text-decoration: underline dotted #12c868;
}

.bullWhite {
  color: #12c868;
}

.mob-menu {
  width: 40px;
}

.material-symbols-outlined {
  font-size: 40px;
  cursor: pointer;
}

.buttonMenu > a,
.buttonClose > a {
  text-decoration: none;
  color: #1c1c1c;
}

.buttonMenu,
.buttonClose {
  background: none;
}

.headerNav {
  display: flex;
  flex-direction: column;
  align-items: center;

  list-style-type: none;
  text-transform: uppercase;
}

/* 2 headerNav */

.headerNav li {
  margin: 20px;
}

.headerNav li a {
  text-decoration: none;
  color: #1c1c1c;
}

/* 3 headerSection2 */

.headerSection2 {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 30px;
}

.headText p {
  margin: 10px 70px 10px 70px;
  text-align: center;
  line-height: 27px;
}

span {
  font-weight: 600;
}

.downloadCat {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
}

.iconPdf {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.iconPdf > a {
  font-size: 20px;
  text-decoration: none;
  color: #12c868;
  font-weight: 600;
}

.downloadCat > p {
  margin-left: 20px;
  font-size: 22px;
  text-decoration: underline dotted #12c868;
}

.bull {
  color: #12c868;
}

.message {
  width: 400px;
  height: 120px;
  text-align: center;
}

.messengers {
  display: flex;
  justify-content: center;
}

.messengers > div {
  margin: 15px;
}

.messengers > div > a > img {
  width: 70px;
}

.mob-menu {
  display: none;
}

/* .page,
.mob-menu,
.contact,
.headerSection,
.headText,
.downloadCat,
.logo,
.message {
  border: 1px solid red;
} */
